<!DOCTYPE html>
<html lang="en">
<head>
    <title>File share</title>
</head>
<body>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}

    Client: {{ client.selected_name }} ({{ client.address }}), {% if client.active %}ACTIVE{% else %}NOT ACTIVE{% endif %}

    <h1>File share</h1>
    {% block content %}{% endblock %}
    
<p><a href="{{ url_for('list_dirs') }}?action=refresh">Back to index</a></p>

</body>
</html>