{% extends "base.html" %}

{% block content %}
<div class="columns">
    <div class="column is-two-fifths">
    <h2>Mape za prenos</h2>
    <ul>
    {% for dir in read_only_dirs %}
        <li><a href="{{ url_for('download', path=dir) }}">{{ dir }}</a></li>
    {% endfor %}
    </ul>
    </div>
    
    <div class="column is-two-fifths">
    <h2>Mape za nalaganje</h2>
    <ul>
    {% for dir in upload_only_dirs %}
        <li><a href="{{ url_for('upload_dir', path=dir) }}">{{ dir }}</a></li>
    {% endfor %}
    </ul>
    </div>

</div>
{% endblock %}