{% extends "base.html" %}

{% block content %}
    <h2>Mape za prenos</h2>
    <ul>
    {% for dir in read_only_dirs %}
        <li><a href="{{ url_for('download', path=dir) }}">{{ dir }}</a></li>
    {% endfor %}
    </ul>

    <br><hr><br>

    <h2>Mape za nalaganje</h2>
    <ul>
    {% for dir in upload_only_dirs %}
        <li><a href="{{ url_for('upload_dir', path=dir) }}">{{ dir }}</a></li>
    {% endfor %}
    </ul>

    <br><hr><br>

    {% if admin %}
    <p><a href="{{ url_for('admin_view') }}">Admin</a></p>
    {% endif %}

{% endblock %}