{% extends "base.html" %}

{% block content %}
{% if admin %}

<p><a href="{{ url_for('reset_session') }}">Reset current session`</a></p>
<p>Warning: clears all current client, download and upload records.<p>

<h3>Clients list:</h3>


<table>
<th>
    <td>Client name</td>
    <td>Address</td>
    <td>Last seen</td>
    <td>Status</td>
</th>

{% for client in clients %}
    <tr>
        <td>{{ loop.index }}</td>
        <td>{{ client.selected_name }}</td>
        <td>{{ client.address }}</td>
        <td>{{ client.last_seen }}</td> 
        <td>{{ client.active }}</td>
    </tr>
{% endfor %}
</table>

<h3>Downloads list:</h3>
<table>
    <th>
        <td>Client name</td>
        <td>Directory</td>
        <td>Timestamp</td>
    </th>
    
    {% for dl in downloads %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ dl.client.selected_name }}</td>
            <td>{{ dl.directory.path }}</td>
            <td>{{ dl.download_time }}</td>
        </tr>
    {% endfor %}
</table>

<h3>Uploads list:</h3>
<table>
    <th>
        <td>Client name</td>
        <td>Directory</td>
        <td>Timestamp</td>
        <td>Files count</td>
    </th>
    
    {% for ul in uploads %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ ul.client.selected_name }}</td>
            <td>{{ ul.directory.path }}</td>
            <td>{{ ul.upload_time }}</td>
            <td>{{ ul.files_count }}</td>
        </tr>
    {% endfor %}
</table>

{% endif %}
{% endblock %}