{% extends "base.html" %}

{% block content %}

<h3>Izberi mapo za prenos v {{ path }}</h3>

<form method="POST" enctype="multipart/form-data">
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    <label for="upload_name">Vpisna številka:</label>
    <input type="text" id="upload_name" name="upload_name"><br>
    <label for="path">Izberi mapo:</label>
    <input type="file" name="file" id="file"  webkitdirectory directory multiple>
    <input type="submit" value="Upload">
</form>

{% endblock %}